#fav {
	/*background:#ffffff url('vaultdefault2.jpg') no-repeat center top ;*/
/*	margin : 0 auto;
*/
}

#review{
	border : 1px solid black;
	padding: 4px;

}

#escape{
text-decoration : none;

}

body{
	background-color: #2d2c2b;
}

h1, h2, h3, h4, h5{
	color:#c2520b;
}

p, fieldset, label, span, li{
	color:#d1c5c5;
}

legend{
	color:#2d2c2b;
}

button{
	background-color: #b51313;
	color: #d1c5c5;
}

#cta{
	background-image: url(../images/ctabackground.jpg);
	height:608px;
	width:100%;
	margin-bottom: 10px;
}

.smalltext{
	padding-top: 480px;
}


.video-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px; height: 0; overflow: hidden;
}
 
.video-container iframe,
.video-container object,
.video-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}